*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: bisque;
}
.container{
    display:grid;
    grid-template-columns: repeat(3,100px);
     place-content: center;
}
h1{
text-align: center;
color:rgb(24, 112, 194);
text-decoration:underline;
margin-top: 10%;
}

.container>div{
width:100px;
height:100px;
border:2px solid rgb(185, 15, 15);
background-color: aqua;
font-size: 50px;
display:grid;
place-content: center;
}